<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon_tVt.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacto.css') }}" />
    <script
      src="https://kit.fontawesome.com/e3d7a282b0.js"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/contacto.js"></script>
    <title>TVT Contacto</title>
  </head>

  <body>
    <header>
      <nav class="header_nav">
        <section class="header_nav-titulo">
          <img src="../static/img/logo.jpeg" alt="" class="header_nav-titulo-logo" />
          <h1 class="header_nav-titulo-text">Te Vendo Todo</h1>
        </section>
        <nav class="header_nav-busqueda">
          <input
            type="text"
            placeholder="Buscar..."
            class="header_nav-busqueda-barra"
          />
          <button
            class="header_nav-busqueda-boton-lupa header_nav-button-iconos"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <button
            class="header_nav-busqueda-boton-close header_nav-button-iconos"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </nav>
        <nav class="header_nav-acciones">
          <ul class="header_nav_ul-acciones-iconos">
            {% if 'user_id' in session %}
            <li>
              <a href="{{ url_for('main.user_profile') }}">
                <i class="fa-solid fa-user header_nav-iconos"></i>
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ url_for('main.login') }}">
                <i class="fa-solid fa-user header_nav-iconos"></i>
              </a>
            </li>
          {% endif %}
            <li>
              <a href=""
                ><i class="fa-solid fa-cart-shopping header_nav-iconos"></i
              ></a>
            </li>
          </ul>
        </nav>
        <section class="menu-contenedor">
          <button class="header_menu-desplegable header_nav-button-iconos">
            <i class="fa-solid fa-bars menu"></i>
          </button>
          <button class="cerrar-menu">
            <i class="fa-solid fa-xmark cerrar-menu"></i>
          </button>
        </section>
      </nav>
      <nav class="header_nav-links-de-navegacion">
        <ul class="header_nav_ul-links-de-navegacion">
          <li><a href="{{ url_for('main.index') }}">Inicio</a></li>
          <li><a href="{{ url_for('main.productos') }}">Productos</a></li>
          <li><a href="{{ url_for('main.sobre_nosotros') }}">Sobre Nosotros</a></li>
          <li><a href="{{ url_for('main.contacto') }}">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="" class="form" id="contactForm">
        <fieldset class="fieldset-contacto">
          <legend class="legend-contacto">Datos de contacto:</legend>
          <label class="label-name"
            >Nombre:
            <input
              type="text"
              placeholder="Nombre"
              class="input-name"
              required
            />
          </label>
          <br />
          <label class="label-mail"
            >Mail:
            <input
              type="email"
              placeholder="mail@hotmail.com"
              class="input-mail"
              required
            />
          </label>
        </fieldset>
        <fieldset class="fieldset-asunto">
          <legend>Mensaje:</legend>
          <label class="label-asunto">
            Asunto:
            <input
              type="text"
              placeholder="asunto"
              class="input-asunto"
              required
            />
          </label>
          <br />
          <textarea
            name=""
            placeholder="Escriba su consulta"
            class="textarea"
            required
          ></textarea>
        </fieldset>
        <button type="submit">Enviar</button>
        <div class="warning"></div>
      </form>
    </main>

    <footer>
      <nav>
        <ul class="footer_nav_ul-links-de-navegacion">
          <li>
            <ul class="footer_navegacion-direccion">
              <li>
                <h3>Direccion</h3>
              </li>
              <li>
                <h3>..................</h3>
              </li>
            </ul>
          </li>
          <li>
            <ul class="footer_navegacion-redes">
              <li>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
              </li>
            </ul>
          </li>
          <li>
            <h4>Derechos de autor para codoacodo</h4>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>